---
layout: home
title: Tags
permalink: /tag/
---

<div class="widget mx-6">
  <h2><span>All {{ page.title }}</span></h2>
  <ul class="list-inline widget-list-inline">
    {% for tag in site.tags %}
    <li class="list-inline-item">
      {% assign anchor = tag[0] | cgi_escape | escape %}
      <a href="{{ "/tag/#" | append: anchor }}">{{ tag[0] }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
<div></div>
{% for tag in site.tags %}
<article class="columns is-multiline is-justify-content-center mx-6">
  <div class="column is-4-tablet">
    <h3 id="{{ tag[0] | cgi_escape | escape }}">
      {{ tag[0] }}
    </h3>
  </div>
  <div class="column is-8-tablet">
    {% for post in tag[1] %}
    <h4><a class="post-title has-text-grey" href="{{ post.url | relative_url }}">{{ post.title }}</a></h4>
    <ul class="list-inline post-meta mb-4">
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <li class="list-inline-item">Date : {{ post.date | date: date_format }}</li>
      {% if post.categories %}
      <li class="list-inline-item">Categories : 
      {% for category in post.categories %}{{ category }}{% endfor %}
      </li>
      {% endif %}
    </ul>
    {% endfor %}
  </div>
</article>
{% endfor %}
