<div class="widget">
  <h5 class="widget-title"><span>Categories</span></h5>
  <ul class="list-unstyled widget-list">
    <li><a href="#!" class="is-flex">Four seasone
        <small class="ml-auto">(1)</small></a>
    </li>
    <li><a href="#!" class="is-flex">Newyork city
        <small class="ml-auto">(2)</small></a>
    </li>
    <li><a href="#!" class="is-flex">Photobooth
        <small class="ml-auto">(1)</small></a>
    </li>
    <li><a href="#!" class="is-flex">Photography
        <small class="ml-auto">(2)</small></a>
    </li>
    <li><a href="#!" class="is-flex">Videography
        <small class="ml-auto">(1)</small></a>
    </li>
  </ul>
</div>