<header class="is-sticky-top bg-white border-bottom border-default">
  <div class="container">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    {% if page_paths %}
    <nav class="navigation navbar" role="navigation">
      <a class="navbar-brand is-inline-flex ml-0 is-align-items-center" href="{{ "/" | relative_url }}">
        <img src="{{ "/assets/images/log.svg" | relative_url }}"  width="280" alt="logo">
      </a>
      <a role="button" class="navbar-burger burger" data-hidden="true" data-target="navigation">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>

      <ul class="navbar-end navbar-menu" id="navigation">
        <li class="navbar-item">
          <a class="navbar-link is-arrowless" href="{{ "/" | relative_url }}">Home</a>
        </li>

        <li class="navbar-item">
          <a class="navbar-link is-arrowless" href="{{ "/about" | relative_url }}">About</a>
        </li>

        <li class="navbar-item">
          <a class="navbar-link is-arrowless" href="{{ "/contact" | relative_url }}">Contact</a>
        </li>

        <li class="navbar-item">
          <button id="searchOpen" class="search-btn"><i class="ti-search"></i></button>
        </li>

        <!-- search -->
        <div class="search">
          <div class="search-wrapper">
            <form action="javascript:void(0)" class="h-100">
              <input class="search-box pl-4" id="search-query" name="s" type="search"
                placeholder="Type &amp; Hit Enter...">
            </form>
            <button id="searchClose" class="search-close"></button>
          </div>
        </div>
      </ul>
    </nav>
    {% endif %}
  </div>
</header>
