<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>
  
  <!-- navigation -->
  {% include header.html %}
  <!-- /navigation -->

  <section class="section">
    <div class="container">
      {{ content }}
    </div>
  </section>

  
  <!-- footer -->
  {% include footer.html %}
  <!-- /footer -->


  <!-- JS Plugins -->
  <script src="{{ "/assets/plugins/jQuery/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/plugins/slick/slick.min.js" | relative_url }}"></script>

  <!-- Main Script -->
  <script src="{{ "/assets/js/script.js" | relative_url }}"></script>
</body>

</html>