---
layout: default
---

<article class="columns is-multiline mb-5 is-justify-content-center">
  <div class="column is-10-desktop mb-4">
    <h1 class="h2 mb-3">{{ page.title | escape }}</h1>
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <ul class="list-inline post-meta mb-3">
      <li class="list-inline-item">Date : {{ page.date | date: date_format }}</li>
      {% if page.categories %}
      <li class="list-inline-item">Categories : 
      {% for category in page.categories %}<a href="#!" class="ml-1">{{ category }}</a>{% endfor %}
      </li>
      {% endif %}
      {% if page.tags %}
      <li class="list-inline-item">Tags : 
      {% for tag in page.tags %}<a href="#!" class="ml-1">{{ tag }}</a>{% endfor %}
      </li>
      {% endif %}
      <li class="list-inline-item"><span id="busuanzi_value_page_pv"></span> hits</li>
    </ul>
  </div>
  <div class="column is-12 mb-3">
    <div class="content">
      {{ content }}
    </div>
  </div>
  <div class="column is-10-desktop">
    {% if site.disqus.shortname %}
    <div class="post-slider">
      {% include disqus_comments.html %}
      <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
    </div>
    {% endif %}
  </div>

  
</article>